* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

header {
  background-color: #cf2b2b;
  color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 18px;
  position: fixed;
  top: 0;
  z-index: 3;
}

header h1 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;
}

header p {
  font-size: 18px;
  font-weight: 400;
}

main {
  position: relative;
  top: 140px;
}

main section {
  margin: 18px;
  margin-top: 28px;
}

main section:nth-of-type(3) { margin-bottom: 300px; }

main h2 {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.018em;
  line-height: 32px;
  color: #333333;
  font-weight: 400;
  font-size: 26px;
}

.card {
  margin-right: 18px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 9px;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__figure {
  width: 144px;
  height: 110px;
}

.card__figure figcaption {
  margin-top: 8px;
  font-weight: 800;
}

.card__figure img {
  width: 100%;
  height: 87px;
}

.card p { margin-top: 18px; }

.card p:first-of-type { color: #a6a6a6; }

.card__mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.choosed { box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 5px #32b72f; }

.checkMark {
  font-size: 21px;
  color: #32b72f;
  position: absolute;
  right: 10px;
  bottom: 15px;
  display: none;
}

.checkChoosed { display: block; }

.foods,
.drinks,
.desserts {
  margin-top: 16px;
  width: 100%;
  display: flex;
  padding: 0px;
  overflow-x: scroll;
}

.foods::-webkit-scrollbar,
.drinks::-webkit-scrollbar,
.desserts::-webkit-scrollbar { display: none; }

.close {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  padding: 15px 25px 15px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.close button {
  padding: 15px 120px 15px 120px;
  background-color: #cbcbcb;
  border-radius: 50px;
  font-size: 20px;
  color: #ffffff;
  border: none;
}

button.closeActive { background-color: #32b72f; }

button.closeActive:hover {
  cursor: pointer;
}

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  background-color: #50d074;
  border: none;
  width: 100%;
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  color: white;
}

dialog * { font-size: 22px; }

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.85);
}

.dialog__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 22px;
}

.dialog__body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dialog__body table td { padding: 10px 30px 0px 30px; }

.dialog__body table tr:last-of-type { font-weight: 900; }

dialog button:first-of-type {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 20px;
  color: #32b72f;
  margin: 30px 0 30px 0;
  font-weight: 700;
}

dialog button:last-of-type {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 700;
  margin: 0px 0 30px 0;
}

.animationWrapper {
  z-index: 99;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 0.3s ease-in 3s 1 loadWrapper;
  animation-fill-mode: forwards;
}

.animation {
  background-color: #cf2b2b;
  width: 200px;
  height: 150px;
  display: flex;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  animation: 1.3s ease-in 0s 1 load;
}

.tails {
  height: 100%;
  width: 35%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.tails span {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  background-color: #cf2b2b;
  display: inline-block;
  height: 17px;
  font-size: 24px;
  position: relative;
}

.tails span:nth-of-type(1) { width: 70px; }
.tails span:nth-of-type(2) { width: 90px; }
.tails span:nth-of-type(3) { width: 110px; }
.tails span:nth-of-type(4) { width: 130px; }
.tails span:nth-of-type(5) { width: 130px; }
.tails span:nth-of-type(6) { width: 120px; }
.tails span:nth-of-type(7) { width: 90px; }
.tails span:nth-of-type(8) { width: 60px; }
.tails span:nth-of-type(9) { width: 40px; }

.tails span:nth-of-type(2n) {
  background-color: white;
  z-index: 99;
  border-radius: 16px;
  left: 10px;
}

.tails span:nth-of-type(3)::before {
  content: 'Eats';
  /* background-color: blue; */
  min-width: 50px;
  min-height: 50px;
  position: relative;
  left: calc(100% + 25px);
  top: 50%;
  /* transform: translateY(-50%); */
  /* z-index: 50; */
  /* transform: translateX(-500%); */
  /* vertical-align: middle; */
}

.tails span:nth-of-type(3)::first-letter {
  /* background-color: rebeccapurple; */
  font-size: 65px;
  /* left: 100%; */
  /* z-index: 9; */
}

.right {
  /* background-color: red; */
  /* border-top-left-radius: 15px; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70%;
}

.right .D {
  background-color: white;
  min-width: 70%;
  min-height: 80%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.animationText {
  /* background-color: purple; */
  position: absolute;
  top: calc(50% + 85px);
  font-family: 'Righteous', cursive;
  font-size: 38px;
  animation: textAnimate 0.3s ease 1s;
  animation-fill-mode: forwards;
  left: -100%;
  /* font-weight: 100; */
  /* text-shadow: 0px 0 2px black; */
}

.noScroll {
  overflow-y: hidden;
}

.rowHeader {
  display: flex;
  /* background-color: red; */
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.filter {
  /* height: 100%; */
}

.filter select{
  /* background-color: rebeccapurple; */
  padding: 10px;
  font-size: 15px;
  /* color: blue; */
  /* font-weight: 700; */
  /* height: 90%; */
  /* border: none; */
  /* background-color: unset; */
}


@keyframes load {
  0% {
    left: -100%;
  }
  12.5% {
    left: 30%;
  }
  25% {
    left: -20%;
  }
  37.5% {
    left: 15%;
  }
  50% {
    left: -10%;
  }
  62.5% {
    left: 6%;
  }
  75% {
    left: -4%;
  }
  87.5% {
    left: 2%;
  }
  100% {
    left: 0;
  }
}

@keyframes textAnimate {
  from {
    left: -100%;
  }

  to {
    left: 50%;
    transform: translate(-50%);
  }
}

@keyframes loadWrapper {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}